body {
    background-color: #F0EDE9;
    font-family: verdana, serif;
}
h1 {
    color: maroon;
}
table tr td {
    vertical-align:top
}
footer {
    text-align: center;
}
.green_tick {
    list-style-image: url(icons/green_tick.png);
    padding: 6px 0 6px 28px;
    margin: 0;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.activeNavButton {
    background: grey;
}
.telephone {
    padding: 10;
}
.top-common-details-wide {
    margin-top: 0px;
    height:50px;   
}

.top-common-details-narrow {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 0;
    height:56px;   
}

/* This goes behind the menu buttons so that following elements to not go under them */
.nav-spacer {
    height: 46.5px;
    background-color: black;
}

/* Box Sizing fix - forces the padding and border to be part of the element size */
/* html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
} */
.no-decoration {
    text-decoration: none;
}